@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;500&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
  background-color: #e6ffe6;
}

.uppercase {
	text-transform: uppercase;
}

/* Styling for card panels and review cards including text and images */

.card-image img {
	height: 30vh;
	-o-object-fit: cover;
	object-fit: cover;
}

.review-card img {
	width: 100%;
    height: 50vh;
    margin-top: 30px;
	-o-object-fit: contain;
	object-fit: contain;
}

.card-action {
	padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 12px;
}

.card-panel {
    background: rgba(255, 255, 255, 0.7);
	padding-top: 15px;
	margin-top: 50px;
}

.card-button {
    padding-top: 15px;
    padding-bottom: 15px;
}

.card {
    min-height: 450px;
    max-height: 450px;
    overflow: hidden;
}

.card-content {
    min-height: 130px;
    max-height: 130px;
    overflow: hidden;
    color: #000000;
    padding-bottom: 10px !important;
}

.review-card {
    margin-top: 90px;
    margin-bottom: 90px;
}


/* Styling for filters on reviews page including styling for mobile view */

.filters {
	padding-top: 50px;
}

.filters i {
	border: black solid 2px;
	padding: 15px;
	font-size: 200%;
}

.filters a i:hover {
  color: #9ccc65;
  border-color: #9ccc65;
}

.filters a {
	font-size: 200%;
}

@media only screen and (max-width: 600px) {
	.filters i {
		border: black solid 2px;
		padding: 10px;
		font-size: 100%;
	}
	.filters a {
		font-size: 100%;
    }
    .brand-logo {
        font-size: 20%;
    }
}

/* Styling for navbar and logo */

.logo {
  height: 55px;
  width: 55px;
}

.brand-logo {
  margin-left: 10px;
}

strong {
	font-weight: 700;
}

/* Hero images and styling as well as auto prefix for multiple browsers */

.reviews-hero {
	text-align: center;
	height: 50vh;
	background-image: url(../images/cliff-of-moher.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: black;
}

.login-background {
    text-align: center;
	height: 90vh;
	background-image: url(../images/kylemore.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: black;
}

.register-background {
    text-align: center;
	height: 90vh;
	background-image: url(../images/kylemore.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: black;
}

.profile-hero {
	text-align: center;
	height: 50vh;
	background-image: url(../images/skellig.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/* Styling for social media icons in footer */

.social-icons i {
    padding-top: 10px;
	padding: 25px;
	font-size: 200%;
	color: white;
}

.social-icons i:hover {
  color: #33691e;
  border-color: #33691e;
}

footer .col {
    max-height: 100px;
}

/* Styling for upvote counter or "Like Button" */

.upvote {
    padding-left: 24px;
    font-size: 150%;
    color: rgba(0, 136, 122, 1);
}

.upvote a {
    color: #9ccc65;
}

/* Styling for individual review pages including mobile view */

.review-text {
    margin-top: 50px;
}

.review-card h4 {
    margin-top: 0px;
}

@media screen and (max-width: 600px) {
	.review-text {
    margin-top: 0;
}
.review-card {
    margin-top: 0px;
    margin-bottom: 15px;
}
}

.review-btn {
    margin-left: 10px;
}