{% extends "base.html" %}
{% block content %}

<div class="tips-hero"></div>
<div class="row">
   <div class="col s12 m6 offset-m3 center-align">
      <h1>Welcome to Ireland Recommends</h1>
      <p>This site is dedicated to providing visitors with first hand knowledge on the best places to eat, stay, drink and visit in Ireland. 
      </p>
      <p>Explore the suggestions below, or add your own reviews by registering or logging in to the site.</p>
      <p>Your reviews and opinions are greatly appreciated.</p>
   </div>
</div>
<div class="container">
   <hr>
</div>
<div class="filters container center-align" id="list">
   <div class="row">
      <div class="col s3">
         <a class="black-text " href="{{ url_for('reviews') }}#list"><i class="fas fa-street-view"></i><br>ALL</a> 
      </div>
      <div class="col s2">        
         <a class="black-text" href="{{ url_for('filter_reviews', category_name='Eat') }}#list"><i class="fas fa-utensils"></i><br>EAT</a>
      </div>
      <div class="col s2">
         <a class=" black-text" href="{{ url_for('filter_reviews', category_name='Drink') }}#list"><i class="fas fa-cocktail"></i><br>DRINK</a>  
      </div>
      <div class="col s2">  
         <a class="black-text " href="{{ url_for('filter_reviews', category_name='Stay') }}#list"><i class="fas fa-hotel"></i><br>STAY</a>
      </div>
      <div class="col s2">
         <a class=" black-text" href="{{ url_for('filter_reviews', category_name='Visit') }}#list"><i class="fas fa-leaf"></i><br>VISIT</a>
      </div>
   </div>
</div>
<div>
    <div>
   <form action="{{ url_for('search') }}" method="post">
      <div class="row">
         <div class="input-field col s12 m4 offset-m4 center-align ">
            <i class="fas fa-search prefix"></i>
            <input type="text" name="query" id="query" minlength="3" class="validate" required>
            <label for="query">Search Reviews</label> 
         </div>
      </div>
      <div class="row">
         <div class="col s12 m6 offset-m3 center-align">
            <button type="submit" class="white black-text  btn">
            <i class="fas fa-search left"></i>Search
            </button>
            <a href="{{ url_for('reviews')}}" class="grey darken-4 white-text btn">Reset</a>
         </div>
      </div>
   </form>
</div>
{% endblock %}