{% extends "base.html" %}
{% block content %}
<div class="row review-card">
    <div class="col s12 m6 valign-wrapper review-img">
        <img onerror="this.src='static/images/coast.jpg'" src="{{category.review_img}}" alt="{{category.review_name}}">
    </div>
    <div class="col s12 m6 review-text">
        <h4 class="left-align"><strong>{{ category.review_name }}</strong></h4>
        <p class="left-align">{{ category.review_long }}</p>
        {% if created_by|lower == "admin"|lower %}
        <p class="left-align"><em>Edited by {{category.created_by}} on {{category.review_date}}</em></p>
        {% else %}
        <p class="left-align"><em>Created by {{category.created_by}} on {{category.review_date}}</em></p>
        {% endif %}
    </div>
    <div>
        {% if session.user|lower == category.created_by|lower %}
        <div class="col s12 m6 left-align">
            <div class="card-button">
                <a href="{{ url_for('edit_review', review_id=category._id) }}"
                    class="btn-small white black-text">Edit</a>
                <a href="#modal" class="btn-small grey darken-4 white-text modal-trigger">Delete</a>
            </div>
            <!-- Modal Structure -->
            <div id="modal" class="modal">
                <div class="modal-content center-align">
                    <h4>Are you sure you want to delete {{ category.review_name }}? </h4>
                    <a href="{{ url_for('delete_review', review_id=category._id) }}"
                        class="modal-close waves-effect waves-green btn-small white black-text ">Yes</a>
                    <a href="{{ url_for('profile', username=session['user']) }}"
                        class="modal-close waves-effect waves-green btn-small grey darken-4 white-text">No</a>
                </div>
            </div>
            {% endif %}
        </div>
        <a class="btn review-btn light-green darken-2 left-align" href="{{ url_for('reviews') }}">Return to home</a>
    </div>
</div>
{% endblock %}